h1{
    color:rgb(32, 51, 110);
    background-color:#bddab5;
    border:solid;
    border-width:5px;
}

h2{
    color:cornflowerblue;
    background-color:#bddab5;
    border: solid 5px;
}

h3{
    color:rgb(28, 28, 106);
    background-color:#bddab5;
    border: solid;
}
body{
    background-color: rgb(121, 159, 116);
}